# MAPBOX_ACCESS_TOKEN: Required for Mapbox GL JS maps.
VITE_MAPBOX_ACCESS_TOKEN="pk.eyJ1IjoiZGV2ZWxvcGVyIiwiYSI6ImNreHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eCJ9.xxxxxxxxxxxxxxxxxxxxxx"
# OPENWEATHER_API_KEY: Required for OpenWeather API.
OPENWEATHER_API_KEY="your_openweather_api_key_here"
# OPENSKY_CLIENT_ID: Required for OpenSky API.
OPENSKY_CLIENT_ID="your_opensky_client_id_here"
# OPENSKY_CLIENT_SECRET: Required for OpenSky API.
OPENSKY_CLIENT_SECRET="your_opensky_client_secret_here"